<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{%load i18n%}
{%load car_filter%}
<body>
<div>
    <table>
        {%blocktrans%}
        <tr>
            <td>Name</td>
            <td>Reg. number</td>
            <td>User</td>
        </tr>
        {%endblocktrans%}
        {%for car in cars%}
        <tr>
            <td title="{{car.name}}">
                {{car.name|cut:9}}
            </td>
            <td>
                {{car.reg_num}}
            </td>
            <td>
                {{car.user}}
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
{%cars_in_garage 2 '-id'%}

</body>
</html>